.topic-tag-cloud {

  &-tags {
    display: inline-block;
    width: 60%;
    margin-top: 1rem;
    box-sizing: border-box;
    text-align: center;

    &-tag {
      display: inline-block;
      margin: .2rem 1rem;
      vertical-align: middle;
      cursor: pointer;

      &:after {
        content: ' '; /* This one ensures wrapping centered tags */
      }

      &_importance-0 {
        font-size: 1rem;
      }
      &_importance-1 {
        font-size: 1.3rem;
      }
      &_importance-2 {
        font-size: 1.6rem;
      }
      &_importance-3 {
        font-size: 1.9rem;
      }
      &_importance-4 {
        font-size: 2.2rem;
      }
      &_importance-5 {
        font-size: 2.5rem;
      }

      &_sentiment-green {
        color: var(--corporate-green);
      }
      &_sentiment-red {
        color: var(--corporate-red);
      }
      &_sentiment-grey {
        color: var(--corporate-grey);
      }

      /* Animation sugar */
      &_focussed {
        animation: tagcloud-focus .15s forwards;
        background-color: rgba(255, 255, 255, .9);
      }
    }
  }

  &-sidebar {
    display: inline-block;
    width: 40%;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-left: dashed .1rem var(--corporate-line-color);
    vertical-align: top;

    &-information {
      h1 {
        margin: 0 10px 0 0;
      }
      &-mentions {
        padding: 0 5px;

        &_green {
          color: var(--corporate-green);
        }
        &_red {
          color: var(--corporate-red);
        }
        &_grey {
          color: var(--corporate-grey);
        }
      }
    }
  }
}

/* Animations */
@keyframes tagcloud-focus {
  60% {
    transform: scale(1.45);
  }
  80% {
    transform: scale(1.37);
  }
  100% {
    transform: scale(1.4);
  }
}

/* Responsiveness */
@media (--orientation-portrait) {
  .topic-tag-cloud-tags {
    width: 100%;
  }
  .topic-tag-cloud-sidebar {
    border-left: none;
    border-top: dashed .1rem var(--corporate-line-color);
    width: 100%;
  }
}
